@{ Layout = null; }
@model Negocio.DetalleV

@{
    ViewBag.Title = "Detalle";
}

<link href="~/EstiloFerreteria1/css/sb-admin-2.css" rel="stylesheet" />
<link href="~/EstiloFerreteria1/css/personalizado.css" rel="stylesheet" />


<div class="card-body">
    <div class="table-responsive">
        <div class="container">
            <h4 class="text-center">Venta</h4>
            <hr /></br>

            <table>
                <caption>Detalle de la Venta</caption>
                <thead>
                    <tr>
                        <th>N°Venta</th>
                        <th>Cod.Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>


                        <th>Importe</th>
                    </tr>
                </thead>
                @foreach (Negocio.DetalleV item in Negocio.DetalleV.ListarID(Model.IdVenta))
                {
                    <tfoot>

                        <tr>
                            <td colspan="4">TOTAL</td>
                            <td>@Html.DisplayFor(model => model.Importe)</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.IdDetalleV)</td>
                            <td>@Html.DisplayFor(model => model.IdVenta)</td>
                            <td>@Html.DisplayFor(model => model.IdProducto)r</td>
                            <td>@Html.DisplayFor(model => model.CantidadProd)</td>
                            <td>@Html.DisplayFor(model => model.PrecioUnitario)</td>

                        </tr>

                    </tbody>
                }


            </table>

            <div class="container">

                <a href="/Ventas/Index">
                    <input type="button" class="btn btn-primary btn-sm " value="Atrás">

                </a>

            </div>

        </div>
    </div>
</div>

